/* Global
========================================================= */

.site-wrapper {
	position: relative;
	margin: 0 auto;
}
.section-row {
	@include grid-row();
	@include rem-size(padding, 20px 0px);
}
.section-title {
	@include grid-row();
	padding: 20px ($column-gutter / 2) 0;

	h1, h2 {
		@include grid-column(12);
		text-transform: uppercase;
		border-bottom: solid 1px $border-color;
		margin: 0 auto 10px;
		padding: 0;
	}
	h2 {
		padding: 4px 0;
	}
	.title-buttons {
		@include rem-size(padding-bottom, 10px);

		@include media(medium-up){
			float: right;
			@include rem-size(margin-top, -26px);
			@include rem-size(padding-bottom, 0px);
			@include font-size(18px);
		}

		.button {
			width: 100%;

			@include media(medium-up) {
				@include rem-size(margin-top, -40px);
			}
		}
		.icon {
			@include media(small-only) {
				float: right;
				@include rem-size(margin-top, -26px);
			}
			@include font-size(18px);
		}
		a {
			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
			& + a {
				@include rem-size(margin-left, 6px);
			}
		}
	}
}
.section-title + .section-row {
	padding-top: 10px;
}
.required-note {
	@include rem-size(margin-top, -42px);
	@include rem-size(padding-right, 10px);
	@include rem-size(line-height, 14px);
	@include font-size(12px);
	color: $deep-gray;
	float: right;

	h2 + &,
	h3 + & {
		@include rem-size(margin-top, -36px);
		padding-right: 0;
	}
}
.section-row + .section-row {
	padding-top: 0;
}
.section-content {
	@include grid-column(12);
}
section.shaded {
	background: $light-gray;
}
.orange {
	color: $orange;
}
@include media(small-only){
	.print,
	.print-wish-list {
		display: none;
	}
}



/* Header
========================================================= */
header {
	&.desktop-header {
		/* hide desktop header for small screens */
		@include media(small-only) {
			display:none;
		}
	}
	&.mobile-header {
		display:none;
		/* show mobile header for small screens */
		@include media(small-only) {
			display:block;
		}
	}
}

// global promo bar
.global-promo {
	color: $black;
	background: $white;
	border-bottom: 1px solid $light-gray;
}
.global-promo-container {
	@include grid-row();
}
.global-promo-content {
	@include grid-column(12);

	@include media(small-only){
		padding-right: 0;
		position: relative;
	}

	.global-promo-text {
		@include font-size(12px);
		font-weight: $bold;
		letter-spacing: 0.5px;
		line-height: 16px;
		padding: 8px 4px 8px 0;
		width: 100%;
		a {
			text-decoration: underline;
		}
	}
}

// main header bar
.header-masthead {
	@include grid-row();

	.logo {
		@include grid-column(12);
		@include rem-size(padding, 20px 10px);
		@include rem-size(line-height, 40px);
		width: auto;
	}
}




/* Mobile Header
========================================================= */
.mobile-header {
	z-index: 1;
	position: relative;
	padding-bottom: 0;
	.accordion-container {
		position: relative;
		padding: 0;
		border: none;
		background: $light-gray;
	}
	.accordion-body-content {
		@include grid-row();
	}
}
.masthead-mobile {
	@include grid-row();
	@include rem-size(padding, 8px 0px);
	position: relative;
	z-index: 1;
	background: $light-gray;

	.masthead-mobile-link {
		position: absolute;
		top: 0;
	}
	.masthead-mobile-link-menu {
		@include rem-size(padding, 12px 4px 9px 8px);
		left: 0;

		&:hover, :focus {
			text-decoration: none;
		}
	}
	.masthead-mobile-link-search {
		@include rem-size(padding, 10px 4px);
		right: 36px;

		.icon-search {
			@include font-size(20px);
			position: relative;
			top: 1px;
		}
	}
	.masthead-mobile-link-cart {
		@include rem-size(padding, 20px 6px 0px 0px);
		right: 0;

		.cart-count {
			top: 4px;
			right: 7px;
		}
	}
	.masthead-logo a {
		display: block;
		width: 135px;
		margin: 0 auto;
	}
}


/* Footer
========================================================= */

footer {
	@include font-size(12px);
	background: $light-gray;
	border-top: 1px solid $base-gray;
	@include clearfix;
	@include media(small-only) {
		text-align: center;
	}

	h3 {
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 1px;
		cursor: pointer;
		@include font-size (13px);
		@include rem-size(line-height, 18px);
		@include rem-size(margin-top, 0px);
		@include media(medium-up) {
			cursor: default;
			span {
				display: none;
			}
		}

		a {
			color: $almost-white;
			@include rem-size(line-height, 18px);
		}
	}
	li, a, p {
		color: $black;
		letter-spacing: 0.5px;
		@include rem-size(line-height, 18px);
	}
	ul, li {
		@include unlist;
	}
	li + li {
		@include rem-size(margin-top, 12px);
	}
}

.footer-communication {
	@include grid-row();
	@include rem-size(padding, 36px 0px);

	@include media(medium-up) {
		p {
			max-width: 275px;
			margin-bottom: 0;
		}
	}
	.button {
		@include rem-size(margin-top, 16px);
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 1px;
		@include font-size (13px);
	}
}
.footer-email-signup,
.footer-text-signup,
.footer-social {
	@include grid-column(12);
	@include media(medium-up) {
		width: 33.333%;
	}
}
@include media(small-only) {
	.footer-text-signup {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.footer-email-signup {
		padding-bottom: 40px;
	}
}
.footer-links-container {
	border-top: 1px solid $base-gray;
	border-bottom: 1px solid $base-gray;
	text-transform: uppercase;
}
.footer-links {
	@include grid-row();
	@include rem-size(padding, 36px 0px 24px);
}
.footer-links-group {
	@include grid-column(12);
	.icon-arrow-down {
		position: relative;
		top: 3px;
	}
	@include media(small-only) {
		ul {
			@include rem-size(padding-bottom, 36px);
		}
	}
	@include media(medium-up) {
		width: 25%;
	}
}

.footer-legal {
	@include grid-row();
}
.footer-copyright {
	@include grid-column(12);
	@include media(medium-up) {
		width: 60%;
	}
}
.footer-legal-links {
	@include grid-column(12);
	@include media(medium-up) {
		width: 40%;
	}
	@include media(small-only) {
		ul {
			@include rem-size(margin, 12px 0px);
		}
	}
	li {
		text-transform: uppercase;
		display: inline;
		@include rem-size(padding, 0px 8px);
		@include media(medium-up) {
			@include rem-size(padding, 12px 0px 12px 16px);
			float: right;
		}

		& + li {
			@include rem-size(margin-top, 0px);
		}
	}
}

.promo-grid {
	 .footer-email-signup,
	 .footer-text-signup,
	 .footer-social {
		  @include grid-column(12);
		  @include media(medium-up) {
		   width:100%;
		  }
		 h3{
		 	@include font-size (16px);
		 }
	 }
	.footer-email-signup{
		.email-signup {
			.email-address {
				@include media(medium-up){
					width: 100%;
				}
			}
			@include media(medium-up){
				.field-error-text {
					position: relative;
					top: 4px;
				}
			}
		}
	}
}


/* Sitemap
========================================================= */
.sitemap-section-container {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;

	@include media(medium-up){
		column-count: 4;
		-moz-column-count: 4;
		-webkit-column-count: 4;
	}
	& > ul {
		padding: 0;
		@include font-size(14px);
		& > li {
			display: block;
			width: 100%;
			break-inside: avoid-column;         /* IE 11 */
			-webkit-column-break-inside: avoid; /* Chrome, Safari */
			page-break-inside: avoid;           /* Theoretically FF 20+ */
			display:table;                      /* Actually FF 20+ */
			@include font-size(12px);
		}
	}
}

.sitemap-container {
	.section-row {
		@include rem-size(padding-top, 0px);
	}
	ul, li {
		@include unlist;
	}
	ul {
		@include rem-size(margin-bottom, 8px);
	}
}
.sitemap-section-container {
	padding: 0 5px;
	ul {
		a {
			color: $black;
			text-decoration: none;
			&:hover {
				color: $orange;
			}
		}
		&.siteMapColFrame {
			@include rem-size(padding-bottom, 15px);
		}
	}
}
.sitemap-section {
	@include rem-size(padding, 0px 10px);
	// @include grid-column(12);
}
.visit-stores-sitemap {
	li {
		@include rem-size(padding-bottom, 10px);
	}
	ul.siteMapColFrame {
		@include rem-size(padding-bottom, 0px);
	}

}
.sitemap-list {
	@include rem-size(padding-bottom, 0px);
}
.sitemap-list-title {
	margin: 0;
	@include font-size(14px);
	text-transform: capitalize;
}
.sitemap-title {
	@include rem-size(margin, 10px 0px);
	@include rem-size(padding, 8px 12px 6px);
	@include font-size(18px);
	width: 100%;
	color: $white;
	background-color: $deep-gray;
	text-transform: uppercase;

	a {
		color: $white;
		cursor: pointer;
	}
}


/* Error Pages
========================================================= */
.error-page {
	@include grid-row();
}
.error-page-message {
	@include grid-column(12);

	p {
		@include rem-size(margin, 4px 0px 8px);
	}
	@include media(medium-up){
		img {
			display: block;
			width: 500px;
			margin: 16px auto 28px;
		}
	}
}


/* Gift Card Balance Check
========================================================= */
.gc-product-section {
	@include grid-column(12);
	@include rem-size(padding-bottom, 20px);

	@include media(medium-up){
		width: 50%;
		@include rem-size(padding, 0px 28px 0px 10px);
	}
}
.gc-balance-check-form {
	@include grid-column(12);
	background: $light-gray;

	@include media(medium-up){
		width: calc(50% - 10px);
		@include rem-size(padding, 4px 28px 16px);
		@include rem-size(margin-right, 10px);
	}
}
.field {
	&.gc-number {
		width: 60%;
	}
	&.access-number {
		width: 40%;
	}
}


#storemap {
	position: absolute;
	width: 40%;
	height: 50%;
}

/* Product special message
====================================== */

.product-special-msg-info {
	@include media(medium-up) {
		.product & {
			width: 85%;
		}
	}
	width: 100%;
	color: #25408f;
	line-height: 1.0rem;
	.title {
		@include font-size(11px);
		font-weight: $bold;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
	.icon-info {
		@include font-size(12px);
    	position: relative;
    	top: 2px;
	}
	.card {
		.card-title {
			@include rem-size(padding, 5px 10px);
			@include font-size(12px);
			letter-spacing: 0.5px;
		}
		.card-content {
			@include font-size(12px);
			display: inline-block;
			@include rem-size(padding, 10px 15px);
			a {
    			text-decoration: underline;
    			cursor: pointer;
			}
		}
	}
}
.product-special-msg-info.hide-for-medium-up {
	width: 70%;
    float: right;
    padding-left: 0.625rem;
}
.product-special-msg-modal {
	a {
		text-decoration: underline;
		cursor: pointer;
	}
}
