// Use the components directory to construct the meat of your CSS.
// Categorize your styles here based on element in the file name.

// SKU picker button definitions
.product-pickers {
	@include grid-column(12);
	@include rem-size(padding, 20px 10px);

	@include media(medium-up) {
		&:not(.table-picker) {
			width: 50%;
			padding-top: 0;
		}
	}
	label {
		font-weight: $bold;
		display: inline-block;
		a {
			@include rem-size(padding-left, 4px);
			font-weight: $normal;
			text-decoration: underline;
		}
	}
}
.product-qty,
.product-size,
.product-width,
.product-swatch-group {
	@include rem-size(padding, 10px 0px);
}
.product-options {
	label {
		display: inline;
		text-transform: capitalize;
	}
}
.product-option-errors {
	display: inline;
	color: $error-color;
	@include font-size(12px);
	@include rem-size(margin-left, 6px);
}
.product-swatch-group {
	.unavailable {
		@include opacity(0.2);
		pointer-events: none;
		cursor: default;
	}
	.active {
		border: 2px solid $black;
	}
}
.option-swatches {
	@include unlist();
	@include clearfix();
	li {
		float: left;
	}
}

.product-form-pickers {
	table {
		table-layout: fixed;
		width: 100%;
	}
	thead {
		background: $light-gray;
		@include rem-size(line-height, 40px);
	}
	tbody tr {
		border-bottom: 1px solid $border-color;

		&.disabled {
			@include opacity(0.3);
		}
	}
	th, td {
		text-align: center;

		@include media(small-only) {
			width: 90px;
		}
	}
	th {
		line-height: 1;
		height: 48px;
	}
	.table-picker & {
		input {
			@include rem-size(width, 48px);
			@include rem-size(height, 32px);
			@include rem-size(padding, 8px);
			text-align: center;
		}
	}
	.hide-pricing-details-label {
		@include font-size(13px);
		font-weight: $normal;
		display: inline-block;
		width: 100%;
		a {
			text-decoration: none;
			@include font-size(13px);
			color: $dark-blue;

			&:hover {
				text-decoration: underline;
				font-weight: $bold;
			}
		}
	}
}

.gift-card-button {
	@include rem-size(padding, 6px 18px);

	& + .gift-card-button {
		@include rem-size(margin-left, 4px);
	}
}
.gift-card-sign {
	font-weight: $bold;
	@include font-size(16px);
	@include rem-size(margin-right, 4px);
	@include rem-size(vertical-align, -6px);
}
input.gift-card-amount {
	@include rem-size(width, 101px);
	@include rem-size(height, 36px);
	@include rem-size(padding, 8px);
	text-align: center;
}
label[for=gift-card-amount] {
	@include rem-size(margin-top, 8px);
}
.gift-card-note {
	@include font-size(12px);
}

.disable-add-to-cart{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	@include opacity(0.65);
	pointer-events: none;
}

.product-pickers {
	.promo-line-item-msg {
		display: inline-block;
		width: 100%;
		.icon-info {
			position: relative;
			top: 3px;
			left: 3px;
		}
		.upsells-item-msg {
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid $orange;
			}
		}
	}

	.promo-line-item-desc {
		font-weight: $bold;
		text-transform: uppercase;
		@include font-size(11px);
	}
}

.product-form-pickers {
	p {
		@include rem-size(margin, 0px);
	}
	.table-picker-title {
		background-color: $light-gray;
		@include rem-size(padding, 10px);
		font-weight: $bold;
	}
	.table-picker-details {
		border: 1px solid $light-gray;
		@include rem-size(margin, 10px 0px);
		@include rem-size(padding, 10px 10px 0px);
		@include font-size(12px);
		.table-header {
			background-color: $light-gray;
			font-weight: $bold;
			p {
				@include rem-size(padding, 0px 10px);
			}
			span {
				float: right;
			}
		}
		.table-details {
			display: inline-block;
			width: 100%;
			@include rem-size(padding, 10px 0px);
			.product-sku-info {
				font-weight: $bold;
				@include rem-size(padding, 0px 10px 0px);
				@include media(medium-up) {
					width: 40%;
					float: left;
					border-right: 1px solid $light-gray;
					min-height: 160px;
				}
				span {
				   width: 40%;
				   float: left;
			   }
				div {
					display: inline-block;
					width: 100%;
					@include rem-size(padding-right, 10px);
					border-bottom: 1px solid $light-gray;
				}
				.regular-price,
				.original-price {
					.sale-price {
						@include media(small-only) {
							@include font-size(10px);
						}
						a {
							float: right;
						}
					}
				}
			}
			.product-inventory,
			.product-qty-details {
				@include rem-size(padding-left, 10px);
			}
			@include media(medium-up) {
				.product-qty-details {
					width: 20%;
					float: left;
					border-right: 1px solid $light-gray;
					min-height: 160px;
					.product-qty {
						text-align: center;
						@include rem-size(padding, 40px 0px);
					}
					.quantity-group {
						margin: 0 auto;
					}
				}
				.product-inventory {
					width: 40%;
					float: left;
					.add-to-cart-actions {
						@include rem-size(padding-left, 30px);
						@include rem-size(margin-bottom, 0px);
					}
				}
			}
			.add-to-cart-submit,
			.update-cart-submit {
				@include rem-size(margin, 10px 0px 5px);
				@include rem-size(padding, 5px 50px);
			}
			.wishlist-section {
				@include media(medium-up){
					display: block;
					@include rem-size(margin-left, 0px);
				}
			}
			.radio-primary {
				@include rem-size(margin-bottom, 0px);
			}
			.radio-primary.ship-to-home {
				@include rem-size(margin-bottom, 5px);
			}
			.bopis-section {
				@include rem-size(padding-bottom, 0px);
			}
			.split-order-msg {
				margin: 10px 0;
			}
		}
	}
}
.product-table-picker-select {
	@include rem-size(padding, 20px 0px);
}
